* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  min-height: 100vh;
  background-color: hsl(236, 33%, 92%);
  background-image: url("../public/bg-mobile-light.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  padding: 4rem 4%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  color: hsl(0, 0%, 100%);
}
header .sun-icon {
  display: none;
}

form {
  margin-top: 3rem;
}
form input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(235, 19%, 35%);
}

.add_new_todo_text {
  display: block;
  margin: 2rem 0;
  text-align: center;
}

.todos_container {
  margin: 2rem 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(235, 19%, 35%);
  border-radius: 7px;
  font-size: 15px;
  box-shadow: 0 0 15px hsl(235, 19%, 35%);
}
.todos_container .todo {
  padding: 18px 20px;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todos_container .todo .left {
  display: flex;
  align-items: center;
}
.todos_container .todo .left .checkbox {
  border: 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.todos_container .todo .left .checkbox img {
  display: none;
}
.todos_container .todo .left .text {
  margin: 0 12px;
  line-break: normal;
}
.todos_container .todo .completed {
  display: flex;
  align-items: center;
}
.todos_container .todo .completed .checkbox {
  border: 1px solid hsl(192, 100%, 67%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: hsl(192, 100%, 67%);
}
.todos_container .todo .completed .checkbox img {
  display: unset;
  position: absolute;
  top: 20%;
  left: 20%;
}
.todos_container .todo .completed .text {
  margin-left: 12px;
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}
.todos_container .todo .icon-cross {
  cursor: pointer;
}
.todos_container .bottom {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(236, 9%, 61%);
  font-size: 14px;
  position: relative;
}
.todos_container .bottom .filter {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  border-radius: 7px;
  box-shadow: 0 0 15px;
}
.todos_container .bottom .filter span {
  margin: 0 10px;
  cursor: pointer;
}
.todos_container .bottom .clear_completed {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url("../public/bg-desktop-light.jpg");
    display: flex;
    justify-content: center;
  }
  main {
    width: 720px;
  }
  .todos_container .bottom {
    position: unset;
  }
  .todos_container .bottom .filter {
    position: unset;
    background-color: unset;
    transform: unset;
    width: unset;
    padding: unset;
    text-align: unset;
    font-size: unset;
    box-shadow: unset;
  }
}/*# sourceMappingURL=globals.css.map */